<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>First Ever Health Care REIT</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Investors</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Project Pipeline</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Five Rivers Health Care REIT</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Five Rivers Health Care REIT</h1>
            <h3>The First Ever in Pakistan</h3>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="Projects" role="button">Invest with us</a>
            </p>
        </div>
 
 <p><b>Evolving Trend  The heavy contribution of the services sector to Pakistan’s GDP signifies a broad consumer base with growth in income and subsequently purchasing power. Within the services sector, the wholesale and retail trade sector has gained vast momentum in the past decade.  
Major office related employment in Pakistan is concentrated in the finance, professional and business services sectors creating demand for smart, secure and modern office spaces. The cost of land and construction under the current erratic market conditions however poses a significant cost challenge to organizations in this regard. Demand is now focused on quality, value for money rental accommodation at decentralized locations. 
Increasing urbanization, traffic congestion, parking shortages and CBD saturation has created a need for mixed-use developments that provide a one-stop solution to address commercial, leisure and business needs.  
Concept Identification 
Shopping malls provide an assortment of stores and merchandise at one location combining shopping with leisure. Not only do they provide an inexpensive form of entertainment but also make a large intangible contribution to the surrounding community and trade area. 
As Pakistan’s retail consumption becomes more composite it needs a transition from small retail clusters to big box stores and shopping malls. Awareness stemming from foreign travel and social influences has attracted an array of international brands. Resultantly modern real estate development was needed to accommodate these brands.  
The gradual evolution started in the retail industry with the inception of big box chains (Like Metro, Makro and Hyperstar). This was followed by new supply of malls built to meet international standards with adequate parking, well planned circulation and comprehensive building management systems and centralised amenities.  
Seizing .</p>

<p>
	

<br<<h3>REIT Objective</h3>

<p>We proposes the acquisition, management and operatins of properties in following segments of health-care eco-system.
<ul>
<li><br>Specialized Hospital</li>
<li><br>Senior Housing</li>
<li><br> Medical Offices</li>  
</ul>
</p>
 
              
 
        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>
 
    </div>
</body>
 
</html>